/* Estilos personalizados */

main {
	margin-top: 50px;
	margin-bottom: 50px;
}

table {
	margin-top: 20px;
}

table th {
	text-align: center;
}

table td {
	vertical-align: middle;
}
