.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  body {
    background-image: url("/static/botanica/imagenes/Logo Circular Floral Rosa.png");
    background-size: cover;
  }