/* Estilos adicionales para personalizar el formulario */

.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

body {
    background-image: url("/static/botanica/imagenes/Logo Circular Floral Rosa.png");
    background-size: cover;
}

label {
    display: block;
    text-align: center;
}
