<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca</title>
    <link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
    <link rel="stylesheet" href="Css/acerca.css">
</head>
<body>
    <section id="about-us">
        <div class="container">
          <h2>Acerca de nosotros</h2>
          <p class="lead">Bienvenidos a nuestro sitio web. Somos una empresa dedicada a ofrecer productos y servicios de alta calidad a nuestros clientes.</p>
        </div>
      </section>
</body>
</html>