{% extends 'botanica/Plantillas_menu.html' %}
{% load static %}

{% block section %}
  
  <div class="container">
    <h1>Acerca de la Tienda y sus Dueños</h1>
    <p>Raiz Botanica es una tienda especializada en la venta de productos organicos como lo son plantas entre otras.</p>
    <p>Somos una tienda especializada en la venta de productos y despacho directo a tu hogar</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dueños</th>
          <th>Descripción</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Donkey Kong</td>
          <td>Donkey es uno de los dueños de la tienda. Tiene experiencia en el ambito como jardinero y el cuidador de las plantas</td>
          <td><img src="{% static 'botanica/imagenes/Dk.jpg' %}" alt="Foto dueño 1" style="max-width: 100px;"></td>
        </tr>
        <tr>
          <td>Woody</td>
          <td>Woody es el segundo dueño el cual es un juguete que se mueve cuando tu no estas, si estas presente no lo hara</td>
          <td><img src="{% static 'botanica/imagenes/Woody.jpg' %}" alt="Foto dueño 2" style="max-width: 100px;"></td>
        </tr>
        <tr>
          <td>Spider-Man</td>
          <td>Spiderman es el Dueño general de la tienda,pues el esta salvando la ciudad mientras deja a Donkey cuidando la tienda.</td>
          <td><img src="{% static 'botanica/imagenes/spiderman.jpg' %}" alt="Foto dueño 3" style="max-width: 100px;"></td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock section %}