<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Carrito de compras</title>
    <link rel="icon" type="image/jpg" href="Img/Logo Circular Floral Rosa.png">
	<link rel="stylesheet" href="Css/ag_ed_el.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		/* Estilos personalizados para el carrito de compras */
	</style>
</head>
<body>
    
    <section class="form-agregar">
            <h4>Agregar Producto</h4>
            <ol><input type="text" size="52" id="agregar producto" name="agregar producto" placeholder="ingrese el nombre del producto"></ol>
            <ol><input type="text" size="52" id="agregar valor producto" name="agregar valor producto" placeholder="ingrese el valor"></ol>
            <ol><input type="number" id="stock" name="stock" placeholder="Stock disponible"></ol>
            <ol><textarea name="" id="" cols="52" rows="5"></textarea></ol>
            <ol><input type="reset" value="eliminar datos"></ol>
            <ol><button class="btn btn-primary">Guardar cambios</button></ol>
    </section>
    <script src="Js/carrito.js"></script>
</body>
</html>