<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Compra Exitosa</title>
    <link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'botanica/css/compra.exi.css' %}">
</head>
<body>
    <header class="marg">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <img src="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}" alt="Logo de nuestra tienda">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'raiz2' %}">Inicio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'acercade' %}">Acerca de</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'crear_usu' %}">Cuenta</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'venta' %}">Productos</a>
		      </li class="nav-item active">
			  	<a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
			  <li>

			  </li>
		    </ul>
		  </div>
		</nav>
	</header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3 text-center">
                <img src="{% static 'botanica/imagenes/succes.png' %}" alt="Orden de compra exitosa" class="img-fluid">
                <h1 class="mt-5">¡Gracias por tu compra!</h1>
                <p class="mt-4">Tu orden de compra ha sido procesada con éxito.</p>
                <p>Tu orden de compra es la siguiente: #01010101</p>
                <p>Recibirás un correo electrónico con los detalles de tu compra.</p>
                <a href="{% url 'raiz2' %}" class="btn btn-primary mt-4">Volver a la página principal</a>
            </div>
        </div>
    </div>
</body>
</html>
