<!DOCTYPE html>
<html>
<head>
  <title>Editar Cuenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'botanica/css/edita_cuenta'%}">
</head>
<body>
    <header class="marg">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <img src="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}" alt="Logo de nuestra tienda">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'raiz2' %}">Inicio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'acercade' %}">Acerca de</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'crear_usu' %}">Cuenta</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'venta' %}">Productos</a>
		      </li class="nav-item active">
			  	<a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
			  <li>

			  </li>
		    </ul>
		  </div>
		</nav>
	</header>
  <div class="container">
    <h1>Editar Cuenta</h1>
    <form method="post" action="{% url 'editar_cuenta' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ usuario.nombre }}">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</body>
</html>
