<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
  <link rel="stylesheet" href="{% static 'botanica/css/for_usuario.css' %}">
  <title>Formulario Usuario</title>
</head>
<body>
  <div class="container">
    <div class="form-container">
        <h1>Formulario de Usuario</h1>
        <form id="myForm">
          <div class="form-group">
            <label for="rut">RUT:</label>
            <input type="text" class="form-control" id="rut" name="rut" required>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>

          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
          </div>

          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" required>
          </div>

          <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
          </div>

          <div class="form-group">
            <label for="clave">Clave:</label>
            <input type="password" class="form-control" id="clave" name="clave" required>
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'botanica/js/for_usu.js' %}"></script>
</body>
</html>

