<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Raiz Botanica</title>
	<link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
	<!-- CSS de Bootstrap -->			
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- CSS personalizado -->
	<link rel="stylesheet" href="{% static 'botanica/css/rb.css' %}">
</head>
<body>

	<header class="marg">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <img src="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}" alt="Logo de nuestra tienda">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'raiz2' %}">Inicio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'acercade' %}">Acerca de</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'crear_usu' %}">Cuenta</a>
		      </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="{% url 'venta' %}">Productos</a>
		      </li class="nav-item active">
			  	<a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
			  <li>

			  </li>
		    </ul>
		  </div>
		</nav>
	</header>

	

	{% block section %}
	{% endblock section %}
	
	<!-- JS de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>