<!DOCTYPE html>
<html lang="es">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>
    <link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'botanica/Css/Recu.css' %}">
  </head>
  <body>
   
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Recuperar contraseña</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
          </div>
          <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
