<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Términos y Condiciones</title>
    <link rel="icon" type="image/jpg" href="{% static 'botanica/imagenes/Logo Circular Floral Rosa.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'botanica/css/terminoscondi.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Términos y Condiciones</h1>
      <h2>Introducción</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet augue vel purus ullamcorper malesuada. Fusce vel ipsum felis.</p>
      <h2>Términos de uso</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet augue vel purus ullamcorper malesuada. Fusce vel ipsum felis.</p>
      <h2>Política de devolución</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet augue vel purus ullamcorper malesuada. Fusce vel ipsum felis.</p>
      <h2>Derechos de propiedad intelectual</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet augue vel purus ullamcorper malesuada. Fusce vel ipsum felis.</p>
      <h2>Disputas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet augue vel purus ullamcorper malesuada. Fusce vel ipsum felis.</p>
    </div>
  </body>
</html>